# Ignore vim files:
*~
*.swp
*.swo
# Ignore vscode/ium
.vscode
# Ignore tests
tests/output
# Ignore builds
zabbix-zabbix*.tar.gz
# Ignore molecule encryption test files
*.key
*.crt
*.csr
*.srl
*.psk
# Ignore plugin caches
plugins/httpapi/__pycache__
# Ignore test plays and inventories
inv*.test.yml
play*.test.yml
