{{ ansible_managed | comment }}

# UserParameters:
{% if param_userparameter is defined and param_userparameter is iterable and param_userparameter is not string and param_userparameter is not mapping %}

{% for unit in param_userparameter %}
UserParameter={{ unit }}
{% endfor %}
{% elif param_userparameter is defined and param_userparameter and param_userparameter is string %}

UserParameter={{ param_userparameter }}
{% endif %}