{{ ansible_managed | comment }}

# Aliases:
{% if param_alias is defined and param_alias is iterable and param_alias is not string and param_alias is not mapping %}

{% for unit in param_alias %}
Alias={{ unit }}
{% endfor %}
{% elif param_alias is defined and param_alias and param_alias is string %}

Alias={{ param_alias }}
{% endif %}