[defaults]
roles_path = ../../roles
# collections_path={{ ANSIBLE_HOME ~ "/collections:/Users/andreytocko/ansible_collections:/Users/andreytocko/ansible_collections/zabbix/zabbix" }}
httpapi_plugins=../../plugins/httpapi
inventory_plugins=../../plugins/inventory
### task timer
callbacks_enabled = ansible.posix.profile_tasks
vault_password_file = ~/.ansible/.vault/testpass
