
module zabbix_agent_extend 1.0;

require {
	type zabbix_var_run_t;
	type zabbix_agent_t;
	class unix_stream_socket connectto;
	# class unix_stream_socket create_stream_socket_perms;
	class sock_file { create unlink write };
	class tcp_socket { name_connect accept getattr getopt listen setopt };
	class dir { getattr search open read lock ioctl };
	class lnk_file { getattr read };
	class file { { getattr open map read execute ioctl } entrypoint ioctl lock execute_no_trans };
}

#============= zabbix_agent_t ==============
### Adding socket management permisisons for Zabbix agent2
allow zabbix_agent_t zabbix_var_run_t:sock_file { create unlink write };
allow zabbix_agent_t self:unix_stream_socket connectto;

# allow zabbix_agent_t self:fifo_file rw_fifo_file_perms;
# allow zabbix_agent_t self:unix_stream_socket create_stream_socket_perms;


# ##  Connect TCP sockets to ports > 1024. 
# corenet_tcp_connect_unreserved_ports(zabbix_agent_t)
##  Connect TCP sockets to all ports  
# corenet_tcp_connect_all_ports(zabbix_agent_t)

## Allow agents to execute rpm client (key: system.sw.packages)
rpm_exec(zabbix_agent_t)
## Allow read on rpm package database (key: system.sw.packages)
rpm_read_db(zabbix_agent_t)

#zabbix_agent_tcp_connect(zabbix_agent_t)

