{{ ansible_managed | comment }}
### Option: Plugins.Docker.Endpoint
#	Docker API endpoint.
#
# Mandatory: no
# Default: unix:///var/run/docker.sock
# Plugins.Docker.Endpoint=unix:///var/run/docker.sock
{% if agent_param_plugins_docker_endpoint is defined and agent_param_plugins_docker_endpoint %}

Plugins.Docker.Endpoint={{ agent_param_plugins_docker_endpoint }}
{% endif %}

### Option: Plugins.Docker.Timeout
#	The maximum time (in seconds) for waiting when a request has to be done.
#
# Mandatory: no
# Range: 1-30
# Default:
# Plugins.Docker.Timeout=<Global timeout>
{% if agent_param_plugins_docker_timeout is defined and agent_param_plugins_docker_timeout %}

Plugins.Docker.Timeout={{ agent_param_plugins_docker_timeout }}
{% endif %}