### Option: Plugins.Modbus.Timeout
#	The maximum time (in seconds) for connections.
#
# Mandatory: no
# Range: 1-30
# Default: global timeout
{% if agent_param_plugins_modbus_timeout is defined and agent_param_plugins_modbus_timeout %}

Plugins.Modbus.Timeout={{ agent_param_plugins_modbus_timeout }}
{% endif %}

### Option: Plugins.Modbus.Sessions.*.Endpoint
#	Endpoint is a connection string consisting of a protocol scheme, a host address and a port or seral port name and attributes.
#
# Mandatory: no
{% if agent_param_plugins_modbus_sessions is defined and agent_param_plugins_modbus_sessions is iterable and agent_param_plugins_modbus_sessions is not string and agent_param_plugins_modbus_sessions is not mapping %}

{% for session in agent_param_plugins_modbus_sessions %}
{% if session["endpoint"] is defined and session["endpoint"] %}
Plugins.Modbus.Sessions.{{ session["name"] }}.Endpoint={{ session["endpoint"] }}
{% endif %}
{% endfor %}
{% endif %}

### Option: Plugins.Modbus.Sessions.*.SlaveID
#	Slave ID of modbus devices.
#
# Mandatory: no
{% if agent_param_plugins_modbus_sessions is defined and agent_param_plugins_modbus_sessions is iterable and agent_param_plugins_modbus_sessions is not string and agent_param_plugins_modbus_sessions is not mapping %}

{% for session in agent_param_plugins_modbus_sessions %}
{% if session["slaveid"] is defined and session["slaveid"] %}
Plugins.Modbus.Sessions.{{ session["name"] }}.SlaveID={{ session["slaveid"] }}
{% endif %}
{% endfor %}
{% endif %}

### Option: Plugins.Modbus.Sessions.*.Timeout
#	The maximum time (in seconds) for connections.
#
# Mandatory: no
# Range: 1-30
# Default: plugin modbus timeout
{% if agent_param_plugins_modbus_sessions is defined and agent_param_plugins_modbus_sessions is iterable and agent_param_plugins_modbus_sessions is not string and agent_param_plugins_modbus_sessions is not mapping %}

{% for session in agent_param_plugins_modbus_sessions %}
{% if session["timeout"] is defined and session["timeout"] %}
Plugins.Modbus.Sessions.{{ session["name"] }}.Timeout={{ session["timeout"] }}
{% endif %}
{% endfor %}
{% endif %}