### Option: Plugins.Redis.Timeout
#	The maximum time (in seconds) for waiting when a request has to be done.
#
# Mandatory: no
# Range: 1-30
# Default:
# Plugins.Redis.Timeout=<Global timeout>
{% if agent_param_plugins_redis_timeout  is defined and agent_param_plugins_redis_timeout %}

Plugins.Redis.Timeout={{ agent_param_plugins_redis_timeout }}
{% endif %}

### Option: Plugins.Redis.KeepAlive
#	Time in seconds for waiting before unused connections will be closed.
#
# Mandatory: no
# Range: 60-900
# Default:
# Plugins.Redis.KeepAlive=300
{% if agent_param_plugins_redis_keepalive  is defined and agent_param_plugins_redis_keepalive %}

Plugins.Redis.KeepAlive={{ agent_param_plugins_redis_keepalive }}
{% endif %}

### Option: Plugins.Redis.Sessions.*.Uri
#	Uri to connect. "*" should be replaced with a session name.
#
# Mandatory: no
# Range:
#   Must matches the URI format.
#   Supported schemas: "tcp" and "unix".
#   Embedded credentials will be ignored.
# Default:
# Plugins.Redis.Sessions.*.Uri=
{% if agent_param_plugins_redis_sessions is defined and agent_param_plugins_redis_sessions is iterable and agent_param_plugins_redis_sessions is not string and agent_param_plugins_redis_sessions is not mapping %}

{% for session in agent_param_plugins_redis_sessions %}
{% if session["uri"] is defined and session["uri"] %}
Plugins.Redis.Sessions.{{ session["name"] }}.Uri={{ session["uri"] }}
{% endif %}
{% endfor %}
{% endif %}

### Option: Plugins.Redis.Sessions.*.Password
#	Password to send to protected Redis server. "*" should be replaced with a session name.
#
# Mandatory: no
# Default:
# Plugins.Redis.Sessions.*.Password=
{% if agent_param_plugins_redis_sessions is defined and agent_param_plugins_redis_sessions is iterable and agent_param_plugins_redis_sessions is not string and agent_param_plugins_redis_sessions is not mapping %}

{% for session in agent_param_plugins_redis_sessions %}
{% if session["password"] is defined and session["password"] %}
Plugins.Redis.Sessions.{{ session["name"] }}.Password={{ session["password"] }}
{% endif %}
{% endfor %}
{% endif %}

### Option: Plugins.Redis.Default.Uri
#	Uri to connect. Default value used if no other is specified.
#
# Mandatory: no
# Range:
#   Must matches the URI format.
#   Supported schemas: "tcp" and "unix".
#   Embedded credentials will be ignored.
# Default:
# Plugins.Redis.Default.Uri=
{% if agent_param_plugins_redis_default is defined and agent_param_plugins_redis_default.uri is defined and agent_param_plugins_redis_default.uri %}

Plugins.Redis.Default.Uri={{ agent_param_plugins_redis_default.uri }}
{% endif %}

### Option: Plugins.Redis.Default.Password
#	Password to send to protected Redis server. Default value used if no other is specified.
#
# Mandatory: no
# Default:
# Plugins.Redis.Default.Password=
{% if agent_param_plugins_redis_default is defined and agent_param_plugins_redis_default.password is defined and agent_param_plugins_redis_default.password %}

Plugins.Redis.Default.Password={{ agent_param_plugins_redis_default.password }}
{% endif %}
