(typeattributeset cil_gen_require zabbix_var_run_t)
(typeattributeset cil_gen_require zabbix_agent_t)
(typeattributeset cil_gen_require rpm_exec_t)
(typeattributeset cil_gen_require bin_t)
(typeattributeset cil_gen_require rpm_var_lib_t)
(typeattributeset cil_gen_require var_t)
(typeattributeset cil_gen_require var_lib_t)
(typeattributeset cil_gen_require rpm_var_cache_t)
(allow zabbix_agent_t zabbix_var_run_t (sock_file (create unlink write)))
(allow zabbix_agent_t self (unix_stream_socket (connectto)))
(allow zabbix_agent_t bin_t (dir (getattr search open)))
(allow zabbix_agent_t bin_t (lnk_file (getattr read)))
(allow zabbix_agent_t rpm_exec_t (file (getattr open map read execute ioctl lock execute_no_trans)))
(allow zabbix_agent_t var_t (dir (getattr search open)))
(allow zabbix_agent_t var_lib_t (dir (getattr search open)))
(allow zabbix_agent_t rpm_var_lib_t (dir (getattr search open read lock ioctl)))
(allow zabbix_agent_t rpm_var_lib_t (file (getattr open read ioctl lock map)))
(allow zabbix_agent_t rpm_var_lib_t (lnk_file (getattr read)))
(allow zabbix_agent_t rpm_var_cache_t (dir (getattr search open read lock ioctl)))
(allow zabbix_agent_t rpm_var_cache_t (file (getattr open read ioctl lock)))
(allow zabbix_agent_t rpm_var_cache_t (lnk_file (getattr read)))
(filecon "/usr/sbin/zabbix_agent2" file (system_u object_r zabbix_agent_exec_t ((s0) (s0))))